/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    hypervisor-config {
        vm0 {
            path = "target/guest-1/guest-1.bin";

            harts-cap = <1>;
            dedicated-harts = <0>;

            entry = <0x100000>;
        };

        vm1 {
            path = "target/guest-2/guest-2.bin";

            harts-cap = <1>;

            entry = <0x100000>;
        };
    };
};
