/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;

    hypervisor-config {
        vlen-size = <0>;
        vm0 {
            path = "target/guest-1/guest-1.bin";

            harts-cap = <2>;
            assigned-harts = <0 1>;

            entry = <0x100000>;
        };

        vm1 {
            path = "target/guest-2/guest-2.bin";

            harts-cap = <2>;

            entry = <0x100000>;
        };
    };
};
